# File konfigurasi & Environment Variable (Tempat menyimpan API KEY)
.env
config.py
secrets.py
key.json

# Cache Python (File sampah yang tidak perlu diupload)
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Jika nanti pakai venv)
venv/
env/
.venv/

# IDE settings (vscode/pycharm)
.vscode/
.idea/

# Log files
history_1s.csv
history_5s.csv
history_15s.csv
history_30s.csv